form.checkout_autoformat input[name="verification_code"] {
    float: right;
    max-width: 18%;
    margin-top: 5px;
    display: none;
}
form.checkout_autoformat input[name="vat"] {
    margin-top: 5px;
}
.vat_no_nit {
   width: 100%!important; 
}
.vat_nit {
   width: 79%!important;
   float: left!important;
   margin-top: 5px!important; 
}
.hidden_field {
   display: none!important; 
}
input[name='city'], select[name='_state_id'], select[name='state_id'] {
    display: none;
}
form.checkout_autoformat {
    display: inline!important;
}
